:root{
    --theme-color: #419000;
}

body{
    margin: 0px;
    padding: 0px;
}

header{
    margin: 0px;
    padding: 1px;
    background-color: var(--theme-color);
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#addbook{
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 500px;
}

form > label, input{
    margin: 5px;
}

.btn{
    padding: 10px;
    background-color: var(--theme-color);
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0px;
    border-radius: 5px;

}

#tableholder{
    padding: 20px;
    width: 100%;
}

table{
    font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 500px;
    width: 100%;
    margin-top: 15px;
    border: 1px solid var(--theme-color);
    border-collapse: collapse;
}

td{
    padding: 5px;
    border: 0px;
    width: auto;
}

tbody > tr:nth-child(even){
    background-color: #41900057;
}

thead{
    background-color: var(--theme-color);
    color: #ffffff;
}

